extends layout

block content
  h1 Customer orders
  for result in results
    ul(class="order")
      li= result[0].name
      li= result[0].order_id
      for item in result 
        li 
          ul(class='orderItem')
            li #{item.product_name}
            li= 'Amount: ' + item.product_amount
            li= 'Price: $' + item.product_price
            li= 'Subtotal: $' + item.product_amount * item.product_price + '.00'

      


  
